<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
</head>
<body>
    <h1>Edit Profile</h1>
    <form method="POST" action="{{url_for('updateprofile')}}">
        <label for="first_name">First Name:</label>
        <input type="text" name="first_name" value="{{ data[0][3] }}"><br>

        <label for="surname">Surname:</label>
        <input type="text" name="surname" value="{{ data[0][4] }}"><br>

        <label for="email">Email:</label>
        <input type="email" name="email" value="{{ data[0][5] }}"><br>

        <input type="submit" value="Save">
    </form>
    <a href="{{url_for('profile')}}">Back</a>
</body>
</html>
