<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
</head>
<body>
    <h1>User Profile</h1>
    <p>First Name: {{ data[0][3] }}</p>
    <p>Surname: {{ data[0][4] }}</p>
    <p>Email: {{ data[0][5] }}</p>
    <a href="{{url_for('editprofile')}}">Edit Profile</a>
    <!-- เพิ่มปุ่ม "กลับ" ที่จะส่งกลับไปยังหน้าแรก (profile) -->
    <a href="{{url_for('home_page')}}">Back</a>
</body>
</html>
